html {
  font-size: 110%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.App {
  max-width: 585px;
  margin: 3rem 0 0 5rem;
}

.item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 0;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  color: white;
}

/* sometimes entering items should be invisible until they have an enter animation applied */
.item__invisible {
  opacity: 0;
}

.item__blue {
  background-color: #3185fc;
}

.item__red {
  background-color: #ee4266;
}

.item__green {
  background-color: #59c9a5;
}

.item__circle {
  border-radius: 100%;
}

.item__rounded {
  border-radius: 0.5rem;
}

.item__square {
  border-radius: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-bottom: 2rem;
}

.list--background {
  background: rgb(236, 236, 236);
  padding: 1rem 0 0 1rem;
  padding-right: 0;
}

.list li {
  list-style-type: none;
}

.list__update-explanation {
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(185, 185, 185);
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

button:hover,
button:focus {
  background-color: rgba(185, 185, 185, 0.3);
}

label {
  margin-right: 1rem;
}

legend {
  font-weight: bold;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
